#Ignore the following files and folders.

*.log
.vagrant/
behat*
xdebug/
vendor/
wp-config.php
wp-admin/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/features/
wp-content/gallery/
wp-content/mu-plugins/
/opt
wp-content/ngg/
wp-content/themes/twenty*
wp-includes/

/.htaccess
/license.txt
/readme.html