#Ignore the following files and folders.

*.log
*.zip
.vagrant/
.idea
behat*
xdebug/
vendor/
wp-config.php
wp-admin/
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/
wp-content/features/
wp-content/gallery/
wp-content/mu-plugins/
/opt
wp-content/ngg/
wp-content/themes/twenty*
wp-content/themes/oceanic/
wp-content/themes/parrot-head/
wp-content/themes/storefront/
wp-content/themes/genesis-sample/images/
wp-includes/

/.htaccess
/license.txt
/readme.html